{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandemedicament</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commandeMedicament.id }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ commandeMedicament.quantite }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if commandeMedicament.date %}{{ commandeMedicament.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commandemedicament_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commandemedicament_edit', { 'id': commandeMedicament.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
