{% extends 'base.html.twig' %}

{% block title2 %}
Modification des informations d'un patient
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('patient_index') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        </li>
    </ul>
{% endblock %}

{% block body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  {% if form.date is defined %}
    {{ form_row(form.date) }}
  {% endif %}

  <div class="form-group">
    {{ form_label(form.name, "Nom du patient:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.name) }}
    <div class="col-sm-10">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.bornDate, "Né (e) le : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.bornDate) }}
    <div class="col-sm-10">
      {{ form_widget(form.bornDate, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
    {{ form_label(form.sex, "Sexe : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.sex) }}
    <div class="col-sm-10">
      {{ form_widget(form.sex, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
  <div class="form-group">
    {{ form_label(form.telephone, "Téléphone : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.telephone) }}
    <div class="col-sm-10">
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
  <div class="form-group">
    {{ form_label(form.bloodGroup, "Groupe sanguin : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.bloodGroup) }}
    <div class="col-sm-10">
      {{ form_widget(form.bloodGroup, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-info'}}) }}

  {{ form_end(form) }}
    
</div>

{% endblock %}
