{% extends 'base.html.twig' %}

{% block title2 %}
Gestion des patients
{% endblock %}

{% block menu %}

	<ul class="nav nav-pills nav-stacked">

        <a href="{{ path('patient_new') }}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-plus"></span>Enregistrer nouveau patient</a><p>  </p>        
	</ul>

{% endblock %}

{% block body %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Noms et prénoms</th>
                <th>Téléphone</th>
                <th>Sexe</th>
                <th>Né (e) le</th>
                <th>Date d'enregistrement</th>
                <th>Groupe sanguin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': patient.id }) }}">{{ patient.name }}</a></td>
                <td>{{ patient.telephone }}</td>
                <td>{{ patient.sex }}</td>
                <td>{% if patient.bornDate %}{{ patient.bornDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ patient.bloodGroup }}</td>
                <td>{% if patient.date %}{{ patient.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bulletin_custum-new', { 'id': patient.id }) }} ">Créer bulletin</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_show', { 'id': patient.id }) }}">Afficher infos</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
