{% extends 'base.html.twig' %}

{% block title2 %}
Informations sur un petient
{% endblock %}

{% block menu %}

 <ul class="nav nav-pills nav-stacked">
        <a href="{{ path('commande_custum-new', {'id': patient.id}) }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-plus"></span>Vendre des médicaments</a><p>  </p><p>  </p>
        
        <a href="{{ path('patient_edit', {'id': patient.id}) }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-edit"></span> Modifier</a><p>  </p>
</ul>

{% endblock %}

{% block body %}

    <table class="table table-bordered table-hover table-striped">
        <tbody>
            <tr>
                <th>Noms et prénoms</th>
                <td><h3>{{ patient.name }}</h3></td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td><h3>{{ patient.telephone }}</h3></td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td><h3>{{ patient.sex }}</h3></td>
            </tr>
            <tr>
                <th>Né (e) le</th>
                <td><h3>{% if patient.bornDate %}{{ patient.bornDate|date('d-m-Y') }}{% endif %}</h3></td>
            </tr>
            <tr>
                <th>Enregistré le</th>
                <td><h3>{% if patient.date %}{{ patient.date|date('d-m-Y') }}{% endif %}</h3></td>
            </tr>
            <tr>
                <th>Groupe sanguin</th>
                <td><h3>{{ patient.bloodGroup }}</h3></td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}
