
{#  (couche 1) #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}Medibix{% endblock %}</title>
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/pmmcore/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/pmmcore/font-awesome/css/font-awesome.min.css') }}">
			<style type="text/css">
				body { padding-top: 70px; font-family: bookman old style; font-size: medium; }
                .results tr[visible='false'],
                .no-result{ display:none; }

                .results tr[visible='true']{ display:table-row; }

                .counter{ padding:8px; color:#ccc; }
            </style>

		{% endblock %}
        
	</head>
	
	<body>
		<div class="container">
			<div id="header" class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ path('patient_index') }}">Medibix</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="{{ path('patient_new') }}">Enregistrer un patient</a></li>
                    <li><a href="{{ path('bulletin_new') }}">Créer un bulletin médical</a></li>
                    <li><a href="{{ path('patient_index') }}">Liste des patients</a></li>
					<li><a href="{{ path('bulletin_index') }}">Liste des bulletin médicaux</a></li>
				</ul>
			</div>

			<div class="row">
                <div class="col-md-12">
				<h1 class="page-header"><i class="fa fa-hospital-o fa-2x"></i> District de Manjo / 
                    <small>{% block title2 %}{% endblock %}</small></h1>
			     </div>
            </div>
			
			<div class="row">
				<div id="menu" class="col-md-3">
					{% block menu %}
					{% endblock %}
				</div>
				<div id="content" class="col-md-9">
					{% block body %}
					{% endblock %}
				</div>
			</div>
			
			<hr>
			
			<footer>
                </hr> <p>mPm Group | {{ 'now'|date('d-M-Y H:i') }} . </p>
			</footer>
		</div>
		
		{% block javascripts %}
			<script src="{{ asset('bundles/pmmcore/js/bootstrap.js') }}"></script>
			<script src="{{ asset('bundles/pmmcore/js/jquery-3.2.1.min.js') }}"></script>
        
        <script>
            $(document).ready(function() {
              $(".search").keyup(function () {
                var searchTerm = $(".search").val();
                var listItem = $('.results tbody').children('tr');
                var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

              $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
                    return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
              });

              $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
                $(this).attr('visible','false');
              });

              $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
                $(this).attr('visible','true');
              });

              var jobCount = $('.results tbody tr[visible="true"]').length;
                $('.counter').text(jobCount + ' resultat(s)');

              if(jobCount == '0') {$('.no-result').show();}
                else {$('.no-result').hide();}
                      });
            });
        </script>
		{% endblock %}
        
	</body>
</html>