{% extends 'base.html.twig' %} 

{% block menu %}

<form name="pmm_corebundle_patient" method="post" class="form-horizontal">


  <div class="form-group">
    <div class="row">
        <label class="control-label required">Entre le:</label>
    </div>
    
    <div class="row">
        <div class="col-sm-10">
          <div id="" class="form-control">
              <select id="start_day">
                  <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
              </select>-
              <select id="start_month">
                  <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
              </select>-
              <select id="start_year"> 
                  <option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option>
              </select>
            </div>
        </div>
    </div>  
  </div>
    
  <div class="form-group">
    <div class="row">
        <label class="control-label required">Et le:</label>
    </div>
    
    <div class="row">
        <div class="col-sm-10">
          <div id="" class="form-control">
              <select id="end_day">
                  <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
              </select>-
              <select id="end_month">
                  <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
              </select>-
              <select id="end_year"> 
                  <option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option>
              </select>
            </div>
        </div>
    </div>  
  </div>
    
    <a href="{{ path('commande_etat2', { 'd1': 20, 'm1': 9, 'y1': 2017, 'd2': 20, 'm2': 10, 'y2': 2017 }) }}" class="btn btn-primary btn-block btn-lg">
    <span class="glyphicon glyphicon-search"></span> Rechercher</a>
  
 </form>

{% endblock %} 

{% block body %}

<div class="row">
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="Que recherchez-vous?">
    </div>
    <span class="counter pull-right"></span>
</div>

<div class="row">
    
<h4>Factures du {{ date1|date('d-m-Y') }} au {{ date2|date('d-m-Y') }}</h4>

<table class="table table-bordered table-hover table-striped results">
    <thead>
        <tr>
            <th>#</th>
            
            <th>Date</th>
            <th>Montant</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
        <tr>
            <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
            <td>{% if commande.date %}{{ commande.date|date('d-m-Y H:i:s') }}{% endif %}</td>
            <td>{{ commande.amount }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('commande_show', { 'id': commande.id }) }}">Afficher</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
</div>

<div class="row">
    
{% for mydte in lesdates %}
    
<h4>Factures du {{ date1|date('d-m-Y') }} au {{ mydte|date('d-m-Y') }}</h4>

<table class="table table-bordered table-hover table-striped results">
    <thead>
        <tr>
            <th>#</th>
            
            <th>Date</th>
            <th>Montant</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
        <tr>
            <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
            <td>{% if commande.date %}{{ commande.date|date('d-m-Y H:i:s') }}{% endif %}</td>
            <td>{{ commande.amount }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('commande_show', { 'id': commande.id }) }}">Afficher</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endfor %}
    
</div>

{% endblock %}