{% extends 'base.html.twig' %} 

{% block menu %}
{% endblock %} 

{% block body %}

<div class="row">
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="Que recherchez-vous?">
    </div>
    <span class="counter pull-right"></span>
</div>
{% set i = 0 %}

{% for lescom in lescommandes  %}
<div class="row">
    {% set total = 0 %}
    
    {% set date2 = date(lesdates2[i]) %}
   
<h4>Decade {{ i+1 }} du {{ lesdates[i]|date('d-m-Y') }} au {{ lesdates2[i]|date_modify("-1 day")|date('d-m-Y') }} </h4>

<table class="table table-bordered table-hover table-striped results">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Montant (F CFA)</th>
        </tr>
    </thead>
    <tbody>

       {% for commande in lescom %}
        
            {% set total = total + commande.amount %}

            <tr>
                <td>{{ commande.id }}</td>
                <td>{% if commande.date %}{{ commande.date|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{{ commande.amount | number_format(0, ',', '.') }}</td>
            </tr>

        {% endfor %}
        
        <tr>
            <td><h5>Total<h5></td>
            <td><h5>Décade du {{ lesdates[i]|date('d-m-Y') }} au {{ lesdates2[i]|date_modify("-1 day")|date('d-m-Y') }}<h5></td>
            <td><h4>{{ total | number_format(0, ',', '.') }} F CFA</h4></td>
        </tr>
        
    </tbody>  
    
</table>

{% set i = i+1 %}
    
</div>
{% endfor %}

{% endblock %}