{% extends 'base.html.twig' %}

{% block title2 %}
Nouvelle Facture / 
{% if commande.patient is not null %} {{ commande.patient.name }} {% endif %}
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('commande_index') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span>Retour à l'accueil </a><p>  </p>
        </li>
    </ul>
{% endblock %}

{% block body %}

<div class="panel panel-primary">
     
{% if commande.patient is not null %} 
<div class="panel panel-heading">
    
    <div class="row">
        <div class="col-xs-1">
            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-11 text-center">
            <div class="huge"><h2>{{ commande.patient.name | upper }}</h2></div>
        </div>
        <div class="text-right">Nom du patient</div>
            
    </div>
</div>
{% endif %}
    
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

{% if commande.patient is null %}
  <div class="form-group">
    {{ form_label(form.patient, "Nom du patient:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.patient) }}
    <div class="col-sm-10">
        {{ form_widget(form.patient, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}

  
<h3 class="well"><center>Liste des médicaments</center></h3>
    
    <div class="row">
        <h4 class="info"><center>Médicament 1</center></h4>

        <div class="4">{{ form_label(form.medoc1.medicament, "Référence:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</div>
        {{ form_errors(form.medoc1.medicament) }}
        <div class="col-sm-6">
            {{ form_widget(form.medoc1.medicament, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_errors(form.medoc1.quantity) }}
        <div class="col-sm-2">
            {{ form_widget(form.medoc1.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>

    <div class="row">
        <h4 class="info"><center>Médicament 2</center></h4>

        <div class="4">{{ form_label(form.medoc2.medicament, "Référence:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</div>
        {{ form_errors(form.medoc2.medicament) }}
        <div class="col-sm-6">
            {{ form_widget(form.medoc2.medicament, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_errors(form.medoc2.quantity) }}
        <div class="col-sm-2">
            {{ form_widget(form.medoc2.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>
    
    <div class="row">
        <h4 class="info"><center>Médicament 3</center></h4>

        <div class="4">{{ form_label(form.medoc3.medicament, "Référence:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</div>
        {{ form_errors(form.medoc3.medicament) }}
        <div class="col-sm-6">
            {{ form_widget(form.medoc3.medicament, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_errors(form.medoc3.quantity) }}
        <div class="col-sm-2">
            {{ form_widget(form.medoc3.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>

    
{# <a href="#" id="add_medicament" class="btn btn-info">Ajouter un médicament</a> #}
    
<hr/>
<div class="panel-footer">
    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary btn-block btn-lg'}}) }}
</div>

</div>

{{ form_end(form) }}

{% endblock %}

{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}



