{% extends 'base.html.twig' %}

{% block title2 %}
Remplissage bulletin /
{% if bulletin.patient is not null %} {{ bulletin.patient.name }} {% endif %}
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('bulletin_index') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        </li>
    </ul>
{% endblock %}

{% block body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

{% if bulletin.patient is null %}
  <div class="form-group">
    {{ form_label(form.patient, "Nom du patient:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.patient) }}
    <div class="col-sm-10">
        {{ form_widget(form.patient, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}

{% if bulletin.pcvPu is defined and bulletin.pcvPu.etatCol is not null %}
<div class="row">
<h3 class="btn-info"><center>PCV ou PU</center></h3>

<ol>

<li><h4>Etat de col</h4></li>
<div class="form-group">
    
    {{ form_label(form.pcvPu.etatCol, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.etatCol) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.etatCol, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4>Leucorrhées</h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.leucorrhees, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.leucorrhees) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.leucorrhees, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4><u>Etat frais</u></h4></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.etatFrais, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.etatFrais) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.etatFrais, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<ul>
    <li><b>Cellules épitheliales:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efCellulesEpitheliales, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Leucocytes:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efLeucocytes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efLeucocytes) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efLeucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Germes: mobiles ou immobiles:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efGermes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efGermes) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efGermes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Eléments Levuriformes:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efElementsLevuriformes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efElementsLevuriformes) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efElementsLevuriformes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Trichononas vaginalis:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efTrichononasVaginalis, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efTrichononasVaginalis) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efTrichononasVaginalis, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Clue cell:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efClueCell, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efClueCell) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efClueCell, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
</ul>

<li><h4><u>Etat coloré (gram)</u></h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.etatColore, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.etatColore) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.etatColore, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
<ul>
    <li><b>Cellules épithéliales: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecCellulesEpitheliales, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Polynucleaires: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecPolynucleaires, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecPolynucleaires) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecPolynucleaires, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecBacillesGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecBacillesGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecBacillesGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecBacillesGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecBacillesGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecBacillesGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecCocciGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecCocciGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecCocciGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecCocciGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecCocciGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecCocciGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Spores mycosiques:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecSporesMycosiques, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecSporesMycosiques) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecSporesMycosiques, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Filaments myceliens:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecFilamentsMyceliens, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecFilamentsMyceliens) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecFilamentsMyceliens, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Flore doderiein:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecFloreDoderiein, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecFloreDoderiein) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecFloreDoderiein, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ul>
    
<li><h4>KOH</h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.koh, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.koh) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.koh, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4>PH</h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.ph, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.ph) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.ph, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ol>
    
</div>
{% endif %}

{% if bulletin.ecbuCu is defined and bulletin.ecbuCu.aspect is not null %}
<div class="row">
<h3 class="btn-info"><center>{{ bulletin.ecbuCu.aspect|upper }}</center></h3>

<ol>

<li><h4>Aspect</h4></li>
<div class="form-group">
    
    {{ form_label(form.ecbuCu.aspect, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.ecbuCu.aspect) }}
    <div class="col-sm-12">
      {{ form_widget(form.ecbuCu.aspect, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4><u>Etat frais</u></h4></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.etatFrais, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.ecbuCu.etatFrais) }}
    <div class="col-sm-12">
      {{ form_widget(form.ecbuCu.etatFrais, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<ul>
    <li><b>Cellules épitheliales:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.efCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.efCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.efCellulesEpitheliales, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Leucocytes:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.efLeucocytes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.efLeucocytes) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.efLeucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Germes: mobiles ou immobiles:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.efGermes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.efGermes) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.efGermes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Eléments Levuriformes:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.efElementsLevuriformes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.efElementsLevuriformes) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.efElementsLevuriformes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Parasites:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.efParasites, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.efParasites) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.efParasites, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cristaux:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.efCristaux, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.efCristaux) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.efCristaux, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
</ul>

<li><h4><u>Etat coloré (gram)</u></h4></li>
<div class="form-group">
    {{ form_label(form.ecbuCu.etatColore, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.ecbuCu.etatColore) }}
    <div class="col-sm-12">
      {{ form_widget(form.ecbuCu.etatColore, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
<ul>
    <li><b>Cellules épithéliales: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecCellulesEpitheliales, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Polynucleaires: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecPolynucleaires, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecPolynucleaires) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecPolynucleaires, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecBacillesGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecBacillesGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecBacillesGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecBacillesGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecBacillesGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecBacillesGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecCocciGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecCocciGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecCocciGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecCocciGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecCocciGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecCocciGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Spores mycosiques:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecSporesMycosiques, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecSporesMycosiques) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecSporesMycosiques, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Filaments myceliens:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecFilamentsMyceliens, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecFilamentsMyceliens) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecFilamentsMyceliens, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cristaux:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecCristaux, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecCristaux) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecCristaux, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Autres:</b></li>
      <div class="form-group">
    {{ form_label(form.ecbuCu.ecAutres, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.ecbuCu.ecAutres) }}
    <div class="col-sm-11">
      {{ form_widget(form.ecbuCu.ecAutres, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ul>

</ol>
    
</div>
{% endif %}
    
{% if bulletin.hematologie is defined and bulletin.hematologie.globulesBlancs is not null %}
<div class="row">
<h3 class="btn-info"><center>HEMATOLOGIE</center></h3>
    
<div class="form-group">
    {{ form_label(form.hematologie.globulesBlancs, "Globules blancs:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.hematologie.globulesBlancs) }}
    <div class="col-sm-9">
      {{ form_widget(form.hematologie.globulesBlancs, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.hematologie.globulesRouges, "Globules rouges:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.hematologie.globulesRouges) }}
    <div class="col-sm-9">
      {{ form_widget(form.hematologie.globulesRouges, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.hematologie.tauxHemoglobine, "Taux hemoglobine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.hematologie.tauxHemoglobine) }}
    <div class="col-sm-9">
      {{ form_widget(form.hematologie.tauxHemoglobine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</div>   
{% endif %}
    
{% if bulletin.formuleLeucocytaire is defined and bulletin.formuleLeucocytaire.price != 0 %}
<div class="row">   
<h3 class="btn-info"><center>FORMULE LEUCOCYTAIRE</center></h3>
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.neutrophiles, "Neutrophiles:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.neutrophiles) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.neutrophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
   
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.eosinophiles, "Eosinophiles:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.eosinophiles) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.eosinophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.basophiles, "Basophiles:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.basophiles) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.basophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
        
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.lymphocytes, "Lymphocytes:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.lymphocytes) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.lymphocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.monocytes, "Monocytes:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.monocytes) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.monocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.vS1, "V.S 1ere heure:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.vS1) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.vS1, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.vS2, "V.S 2e heure:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.vS2) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.vS2, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.gpeSanguin, "Groupe Sanguin:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.gpeSanguin) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.gpeSanguin, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.goutteEpaisse, "Goutte Epaisse:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.goutteEpaisse) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.goutteEpaisse, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.testEmmel, "Test d'Emmel:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.testEmmel) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.testEmmel, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.rmfSnif, "RMF / SNIF: (Etat frais):", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.rmfSnif) }}
    <div class="col-sm-9">
      {{ form_widget(form.formuleLeucocytaire.rmfSnif, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
</div>
{% endif %}

{% if bulletin.serologie is defined and bulletin.serologie.price != 0 %}
<div class="row">
<h3 class="btn-info"><center>SEROLOGIE</center></h3>

{% if bulletin.serologie.vih is not null %}
  <div class="form-group">
    {{ form_label(form.serologie.vih, "VIH : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.vih) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.vih, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
    
{% if bulletin.serologie.also is not null %}
  <div class="form-group">
    {{ form_label(form.serologie.also, "ALSO : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.also) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.also, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.crp is not null %} 
  <div class="form-group">
    {{ form_label(form.serologie.crp, "CRP : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.crp) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.crp, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.tpha is not null %}  
  <div class="form-group">
    {{ form_label(form.serologie.tpha, "TPHA : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.tpha) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.tpha, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.vdrl is not null %}
  <div class="form-group">
    {{ form_label(form.serologie.vdrl, "VDRL : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.vdrl) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.vdrl, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.agHbs is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.agHbs, "Ag Hbs : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.agHbs) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.agHbs, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.toxoIgg is not null %} 
    <div class="form-group">
    {{ form_label(form.serologie.toxoIgg, "TOXO IgG : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.toxoIgg) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.toxoIgg, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.widalTest is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.widalTest, "WIDAL Test : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.widalTest) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.widalTest, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.rubeole is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.rubeole, "Rubeole : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.rubeole) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.rubeole, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.hcv is not null %} 
      <div class="form-group">
    {{ form_label(form.serologie.hcv, "HCV : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.hcv) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.hcv, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.chlamydia is not null %} 
      <div class="form-group">
    {{ form_label(form.serologie.chlamydia, "Chlamydia : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.chlamydia) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.chlamydia, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.fr is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.fr, "FR : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.fr) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.fr, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.selles is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.selles, "SELLES : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.serologie.selles) }}
    <div class="col-sm-9">
      {{ form_widget(form.serologie.selles, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
</div>   
{% endif %}
    
{% if bulletin.biochimie is defined and bulletin.biochimie.uree is not null %}
<div class="row">
<h3 class="btn-info"><center>BIOCHIMIE</center></h3>
    
<div class="form-group">
    {{ form_label(form.biochimie.uree, "UREE:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.uree) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.uree, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.biochimie.creatinine, "Creatinine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.creatinine) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.creatinine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.biochimie.sgot, "SGOT:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.sgot) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.sgot, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.biochimie.sgpt, "SGPT:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.sgpt) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.sgpt, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.sggt, "SGGT:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.sggt) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.sggt, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.acideUrique, "Acide urique:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.acideUrique) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.acideUrique, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.cholesterol, "Cholesterol:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.cholesterol) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.cholesterol, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.glycemie, "Glycémie:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.glycemie) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.glycemie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.bilirubine, "Bilirubine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.bilirubine) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.bilirubine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.magnesemie, "Magnesémie:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.magnesemie) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.magnesemie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.potassium, "Potassium:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.potassium) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.potassium, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.triglyceride, "Triglycéride:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.triglyceride) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.triglyceride, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.amylase, "Amylase:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.amylase) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.amylase, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.pal, "PAL:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.pal) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.pal, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.calcemie, "Calcémie:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.calcemie) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.calcemie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.biochimie.ck, "CK:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.biochimie.ck) }}
    <div class="col-sm-9">
      {{ form_widget(form.biochimie.ck, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</div>  
{% endif %}

{% if bulletin.urineLrc is defined and bulletin.urineLrc.ph is not null %}
<div class="row">
<h3 class="btn-info"><center>{{ bulletin.urineLrc.ph|upper }}</center></h3>
    
<div class="form-group">
    {{ form_label(form.urineLrc.ph, "P.H:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.ph) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.ph, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.proteine, "Protéine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.proteine) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.proteine, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.glucose, "Glucose:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.glucose) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.glucose, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.densite, "Densité:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.densite) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.densite, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.leucocytes, "Leucocytes:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.leucocytes) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.leucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.nitrites, "Nitrites:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.nitrites) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.nitrites, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.acetone, "Acétone:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.acetone) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.acetone, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.urobilinogene, "Urobilinogène:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.urobilinogene) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.urobilinogene, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.bilirubine, "Bilirubine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.bilirubine) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.bilirubine, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.sang, "Sang:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.sang) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.sang, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.hb, "H.B:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.hb) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.hb, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.hcg, "H.C.G:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.hcg) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.hcg, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.selsBilaires, "Sels Bilaires:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.selsBilaires) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.selsBilaires, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.urineLrc.pigBilaires, "Pig Bilaires:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.urineLrc.pigBilaires) }}
    <div class="col-sm-9">
      {{ form_widget(form.urineLrc.pigBilaires, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    

</div>   
{% endif %}
    
    </hr>
{% if form.submit is defined %}
  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-block btn-primary btn-success'}}) }}
{% else %} 
    <h3 class="btn-danger"><center>BULLETIN VIDE</center></h3>
{% endif %}
  {{ form_end(form) }}
    


{% endblock %}
