{% extends 'base.html.twig' %}

{% block title2 %}
Remplissage du bulletin</br>
{% if bulletin.patient is not null %} Patient : {{ bulletin.patient.name }} {% endif %}
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('bulletin_index') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        </li>
    </ul>
{% endblock %}

{% block body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

{% if bulletin.patient is null %}
  <div class="form-group">
    {{ form_label(form.patient, "Nom du patient:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.patient) }}
    <div class="col-sm-10">
        {{ form_widget(form.patient, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}

{% if bulletin.pcvPu.etatCol is not null %}
<h3 class="well"><center>PCV ou PU</center></h3>

<ol>

<li><h4>Etat de col</h4></li>
<div class="form-group">
    
    {{ form_label(form.pcvPu.etatCol, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.etatCol) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.etatCol, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4>Leucorrhées</h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.leucorrhees, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.leucorrhees) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.leucorrhees, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4><u>Etat frais</u></h4></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.etatFrais, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.etatFrais) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.etatFrais, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<ul>
    <li><b>Cellules épitheliales:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efCellulesEpitheliales, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Leucocytes:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efLeucocytes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efLeucocytes) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efLeucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Germes: mobiles ou immobiles:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efGermes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efGermes) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efGermes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Eléments Levuriformes:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efElementsLevuriformes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efElementsLevuriformes) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efElementsLevuriformes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Trichononas vaginalis:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efTrichononasVaginalis, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efTrichononasVaginalis) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efTrichononasVaginalis, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Clue cell:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.efClueCell, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.efClueCell) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.efClueCell, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
</ul>

<li><h4><u>Etat coloré (gram)</u></h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.etatColore, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.etatColore) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.etatColore, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
<ul>
    <li><b>Cellules épithéliales: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecCellulesEpitheliales, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Polynucleaires: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecPolynucleaires, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecPolynucleaires) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecPolynucleaires, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecBacillesGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecBacillesGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecBacillesGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecBacillesGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecBacillesGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecBacillesGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecCocciGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecCocciGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecCocciGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecCocciGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecCocciGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecCocciGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Spores mycosiques:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecSporesMycosiques, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecSporesMycosiques) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecSporesMycosiques, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Filaments myceliens:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecFilamentsMyceliens, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecFilamentsMyceliens) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecFilamentsMyceliens, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Flore doderiein:</b></li>
      <div class="form-group">
    {{ form_label(form.pcvPu.ecFloreDoderiein, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.pcvPu.ecFloreDoderiein) }}
    <div class="col-sm-11">
      {{ form_widget(form.pcvPu.ecFloreDoderiein, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ul>
    
<li><h4>KOH</h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.koh, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.koh) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.koh, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4>PH</h4></li>
<div class="form-group">
    {{ form_label(form.pcvPu.ph, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.pcvPu.ph) }}
    <div class="col-sm-12">
      {{ form_widget(form.pcvPu.ph, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ol>
{% endif %}
    
{% if bulletin.formuleLeucocytaire.neutrophiles is not null %}
    
<h3 class="well"><center>FORMULE LEUCOCYTAIRE</center></h3>
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.neutrophiles, "Neutrophiles:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.neutrophiles) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.neutrophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
   
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.eosinophiles, "Eosinophiles:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.eosinophiles) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.eosinophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.basophiles, "Basophiles:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.basophiles) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.basophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
        
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.lymphocytes, "Lymphocytes:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.lymphocytes) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.lymphocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.monocytes, "Monocytes:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.monocytes) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.monocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.vS1, "V.S 1ere heure:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.vS1) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.vS1, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.vS2, "V.S 2e heure:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.vS2) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.vS2, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.gpeSanguin, "Groupe Sanguin:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.gpeSanguin) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.gpeSanguin, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.goutteEpaisse, "Goutte Epaisse:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.goutteEpaisse) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.goutteEpaisse, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.testEmmel, "Test d'Emmel:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.testEmmel) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.testEmmel, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.formuleLeucocytaire.rmfSnif, "RMF / SNIF: (Etat frais):", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.formuleLeucocytaire.rmfSnif) }}
    <div class="col-sm-10">
      {{ form_widget(form.formuleLeucocytaire.rmfSnif, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
    
{% endif %}
    
{% if bulletin.serologie.price is not null %}
    <h3 class="well"><center>SEROLOGIE</center></h3>
{% endif %}
    
{% if bulletin.serologie.vih is not null %}
  <div class="form-group">
    {{ form_label(form.serologie.vih, "VIH : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.vih) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.vih, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
    
{% if bulletin.serologie.also is not null %}
  <div class="form-group">
    {{ form_label(form.serologie.also, "ALSO : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.also) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.also, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.crp is not null %} 
  <div class="form-group">
    {{ form_label(form.serologie.crp, "CRP : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.crp) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.crp, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.tpha is not null %}  
  <div class="form-group">
    {{ form_label(form.serologie.tpha, "TPHA : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.tpha) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.tpha, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.vdrl is not null %}
  <div class="form-group">
    {{ form_label(form.serologie.vdrl, "VDRL : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.vdrl) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.vdrl, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.agHbs is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.agHbs, "Ag Hbs : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.agHbs) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.agHbs, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.toxoIgg is not null %} 
    <div class="form-group">
    {{ form_label(form.serologie.toxoIgg, "TOXO IgG : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.toxoIgg) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.toxoIgg, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.widalTest is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.widalTest, "WIDAL Test : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.widalTest) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.widalTest, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.rubeole is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.rubeole, "Rubeole : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.rubeole) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.rubeole, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.hcv is not null %} 
      <div class="form-group">
    {{ form_label(form.serologie.hcv, "HCV : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.hcv) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.hcv, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.chlamydia is not null %} 
      <div class="form-group">
    {{ form_label(form.serologie.chlamydia, "Chlamydia : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.chlamydia) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.chlamydia, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.fr is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.fr, "FR : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.fr) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.fr, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.selles is not null %}
      <div class="form-group">
    {{ form_label(form.serologie.selles, "SELLES : ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.serologie.selles) }}
    <div class="col-sm-10">
      {{ form_widget(form.serologie.selles, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-block btn-primary btn-success'}}) }}

  {{ form_end(form) }}
    
</div>

{% endblock %}
