{% extends 'base.html.twig' %}

{% block title2 %}
Remplissage bulletin /
{% if bulletin.patient is not null %} {{ bulletin.patient.name }} {% endif %}
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{{ path('bulletin_index') }}" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span> Retour à l'accueil </a><p>  </p>
        </li>
    </ul>
{% endblock %}

{% block body %}

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

{% if bulletin.patient is null %}
  <div class="form-group">
    {{ form_label(form.patient, "Nom du patient:", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.patient) }}
    <div class="col-sm-10">
        {{ form_widget(form.patient, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}

{% if bulletin.pcvPu is defined and bulletin.pcvPu.etatCol is not null %}
<div class="row">
<h3 class="btn-info"><center>PCV ou PU</center></h3>

<ol>

<li><h4>Etat de col</h4></li>
<div class="form-group">
    
    {{ form_label(form.rPcvPu.etatCol, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rPcvPu.etatCol) }}
    <div class="col-sm-12">
      {{ form_widget(form.rPcvPu.etatCol, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4>Leucorrhées</h4></li>
<div class="form-group">
    {{ form_label(form.rPcvPu.leucorrhees, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rPcvPu.leucorrhees) }}
    <div class="col-sm-12">
      {{ form_widget(form.rPcvPu.leucorrhees, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4><u>Etat frais</u></h4></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.etatFrais, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rPcvPu.etatFrais) }}
    <div class="col-sm-12">
      {{ form_widget(form.rPcvPu.etatFrais, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<ul>
    <li><b>Cellules épitheliales:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.efCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.efCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.efCellulesEpitheliales, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Leucocytes:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.efLeucocytes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.efLeucocytes) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.efLeucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Germes: mobiles ou immobiles:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.efGermes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.efGermes) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.efGermes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Eléments Levuriformes:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.efElementsLevuriformes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.efElementsLevuriformes) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.efElementsLevuriformes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Trichononas vaginalis:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.efTrichononasVaginalis, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.efTrichononasVaginalis) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.efTrichononasVaginalis, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Clue cell:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.efClueCell, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.efClueCell) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.efClueCell, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
</ul>

<li><h4><u>Etat coloré (gram)</u></h4></li>
<div class="form-group">
    {{ form_label(form.rPcvPu.etatColore, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rPcvPu.etatColore) }}
    <div class="col-sm-12">
      {{ form_widget(form.rPcvPu.etatColore, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
<ul>
    <li><b>Cellules épithéliales: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecCellulesEpitheliales, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Polynucleaires: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecPolynucleaires, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecPolynucleaires) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecPolynucleaires, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecBacillesGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecBacillesGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecBacillesGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecBacillesGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecBacillesGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecBacillesGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecCocciGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecCocciGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecCocciGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecCocciGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecCocciGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecCocciGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Spores mycosiques:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecSporesMycosiques, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecSporesMycosiques) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecSporesMycosiques, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Filaments myceliens:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecFilamentsMyceliens, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecFilamentsMyceliens) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecFilamentsMyceliens, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Flore doderiein:</b></li>
      <div class="form-group">
    {{ form_label(form.rPcvPu.ecFloreDoderiein, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ecFloreDoderiein) }}
    <div class="col-sm-11">
      {{ form_widget(form.rPcvPu.ecFloreDoderiein, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ul>
    
<li><h4>KOH</h4></li>
<div class="form-group">
    {{ form_label(form.rPcvPu.koh, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rPcvPu.koh) }}
    <div class="col-sm-12">
      {{ form_widget(form.rPcvPu.koh, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4>PH</h4></li>
<div class="form-group">
    {{ form_label(form.rPcvPu.ph, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rPcvPu.ph) }}
    <div class="col-sm-12">
      {{ form_widget(form.rPcvPu.ph, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ol>
    
</div>
{% endif %}

{% if bulletin.ecbuCu is defined and bulletin.ecbuCu.aspect is not null %}
<div class="row">
<h3 class="btn-info"><center>{{ bulletin.ecbuCu.aspect|upper }}</center></h3>

<ol>

<li><h4>Aspect</h4></li>
<div class="form-group">
    
    {{ form_label(form.rEcbuCu.aspect, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.aspect) }}
    <div class="col-sm-12">
      {{ form_widget(form.rEcbuCu.aspect, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<li><h4><u>Etat frais</u></h4></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.etatFrais, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.etatFrais) }}
    <div class="col-sm-12">
      {{ form_widget(form.rEcbuCu.etatFrais, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<ul>
    <li><b>Cellules épitheliales:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.efCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.efCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.efCellulesEpitheliales, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Leucocytes:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.efLeucocytes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.efLeucocytes) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.efLeucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Germes: mobiles ou immobiles:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.efGermes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.efGermes) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.efGermes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Eléments Levuriformes:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.efElementsLevuriformes, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.efElementsLevuriformes) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.efElementsLevuriformes, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Parasites:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.efParasites, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.efParasites) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.efParasites, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cristaux:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.efCristaux, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.efCristaux) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.efCristaux, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
</ul>

<li><h4><u>Etat coloré (gram)</u></h4></li>
<div class="form-group">
    {{ form_label(form.rEcbuCu.etatColore, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.etatColore) }}
    <div class="col-sm-12">
      {{ form_widget(form.rEcbuCu.etatColore, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
<ul>
    <li><b>Cellules épithéliales: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecCellulesEpitheliales, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecCellulesEpitheliales) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecCellulesEpitheliales, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Polynucleaires: altérés * non altérés * +altérés:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecPolynucleaires, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecPolynucleaires) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecPolynucleaires, {'attr': {'class': 'col-sm-5 form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecBacillesGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecBacillesGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecBacillesGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Bacilles gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecBacillesGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecBacillesGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecBacillesGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram positif:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecCocciGramPositif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecCocciGramPositif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecCocciGramPositif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cocci gram négatif:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecCocciGramNegatif, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecCocciGramNegatif) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecCocciGramNegatif, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Spores mycosiques:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecSporesMycosiques, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecSporesMycosiques) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecSporesMycosiques, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Filaments myceliens:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecFilamentsMyceliens, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecFilamentsMyceliens) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecFilamentsMyceliens, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Cristaux:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecCristaux, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecCristaux) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecCristaux, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <li><b>Autres:</b></li>
      <div class="form-group">
    {{ form_label(form.rEcbuCu.ecAutres, " ", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
    {{ form_errors(form.rEcbuCu.ecAutres) }}
    <div class="col-sm-11">
      {{ form_widget(form.rEcbuCu.ecAutres, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</ul>

</ol>
    
</div>
{% endif %}
    
{% if bulletin.hematologie is defined and bulletin.hematologie.globulesBlancs is not null %}
<div class="row">
<h3 class="btn-info"><center>HEMATOLOGIE</center></h3>
    
<div class="form-group">
    {{ form_label(form.rHematologie.globulesBlancs, "Globules blancs:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rHematologie.globulesBlancs) }}
    <div class="col-sm-9">
      {{ form_widget(form.rHematologie.globulesBlancs, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.rHematologie.globulesRouges, "Globules rouges:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rHematologie.globulesRouges) }}
    <div class="col-sm-9">
      {{ form_widget(form.rHematologie.globulesRouges, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.rHematologie.tauxHemoglobine, "Taux hemoglobine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rHematologie.tauxHemoglobine) }}
    <div class="col-sm-9">
      {{ form_widget(form.rHematologie.tauxHemoglobine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</div>   
{% endif %}
    
{% if bulletin.formuleLeucocytaire is defined and bulletin.formuleLeucocytaire.price != 0 %}
<div class="row">   
<h3 class="btn-info"><center>FORMULE LEUCOCYTAIRE</center></h3>
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.neutrophiles, "Neutrophiles:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.neutrophiles) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.neutrophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
   
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.eosinophiles, "Eosinophiles:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.eosinophiles) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.eosinophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.basophiles, "Basophiles:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.basophiles) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.basophiles, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
        
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.lymphocytes, "Lymphocytes:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.lymphocytes) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.lymphocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.monocytes, "Monocytes:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.monocytes) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.monocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.vS1, "V.S 1ere heure:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.vS1) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.vS1, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.vS2, "V.S 2e heure:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.vS2) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.vS2, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.gpeSanguin, "Groupe Sanguin:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.gpeSanguin) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.gpeSanguin, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.goutteEpaisse, "Goutte Epaisse:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.goutteEpaisse) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.goutteEpaisse, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.testEmmel, "Test d'Emmel:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.testEmmel) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.testEmmel, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rFormuleLeucocytaire.rmfSnif, "RMF / SNIF: (Etat frais):", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rFormuleLeucocytaire.rmfSnif) }}
    <div class="col-sm-9">
      {{ form_widget(form.rFormuleLeucocytaire.rmfSnif, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
</div>
{% endif %}

{% if bulletin.serologie is defined and bulletin.serologie.price != 0 %}
<div class="row">
<h3 class="btn-info"><center>SEROLOGIE</center></h3>

{% if bulletin.serologie.vih is not null %}
  <div class="form-group">
    {{ form_label(form.rSerologie.vih, "VIH : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.vih) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.vih, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
    
{% if bulletin.serologie.also is not null %}
  <div class="form-group">
    {{ form_label(form.rSerologie.also, "ALSO : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.also) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.also, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.crp is not null %} 
  <div class="form-group">
    {{ form_label(form.rSerologie.crp, "CRP : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.crp) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.crp, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.tpha is not null %}  
  <div class="form-group">
    {{ form_label(form.rSerologie.tpha, "TPHA : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.tpha) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.tpha, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.vdrl is not null %}
  <div class="form-group">
    {{ form_label(form.rSerologie.vdrl, "VDRL : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.vdrl) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.vdrl, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.agHbs is not null %}
      <div class="form-group">
    {{ form_label(form.rSerologie.agHbs, "Ag Hbs : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.agHbs) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.agHbs, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.toxoIgg is not null %} 
    <div class="form-group">
    {{ form_label(form.rSerologie.toxoIgg, "TOXO IgG : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.toxoIgg) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.toxoIgg, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.widalTest is not null %}
      <div class="form-group">
    {{ form_label(form.rSerologie.widalTest, "WIDAL Test : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.widalTest) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.widalTest, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.rubeole is not null %}
      <div class="form-group">
    {{ form_label(form.rSerologie.rubeole, "Rubeole : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.rubeole) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.rubeole, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.hcv is not null %} 
      <div class="form-group">
    {{ form_label(form.rSerologie.hcv, "HCV : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.hcv) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.hcv, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.chlamydia is not null %} 
      <div class="form-group">
    {{ form_label(form.rSerologie.chlamydia, "Chlamydia : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.chlamydia) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.chlamydia, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.fr is not null %}
      <div class="form-group">
    {{ form_label(form.rSerologie.fr, "FR : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.fr) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.fr, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
{% if bulletin.serologie.selles is not null %}
      <div class="form-group">
    {{ form_label(form.rSerologie.selles, "SELLES : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rSerologie.selles) }}
    <div class="col-sm-9">
      {{ form_widget(form.rSerologie.selles, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
{% endif %}
</div>   
{% endif %}
    
{% if bulletin.biochimie is defined and bulletin.biochimie.uree is not null %}
<div class="row">
<h3 class="btn-info"><center>BIOCHIMIE</center></h3>
    
<div class="form-group">
    {{ form_label(form.rBiochimie.uree, "UREE:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.uree) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.uree, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.rBiochimie.creatinine, "Creatinine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.creatinine) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.creatinine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.rBiochimie.sgot, "SGOT:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.sgot) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.sgot, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
<div class="form-group">
    {{ form_label(form.rBiochimie.sgpt, "SGPT:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.sgpt) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.sgpt, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.sggt, "SGGT:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.sggt) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.sggt, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.acideUrique, "Acide urique:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.acideUrique) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.acideUrique, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.cholesterol, "Cholesterol:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.cholesterol) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.cholesterol, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.glycemie, "Glycémie:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.glycemie) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.glycemie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.bilirubine, "Bilirubine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.bilirubine) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.bilirubine, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.magnesemie, "Magnesémie:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.magnesemie) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.magnesemie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.potassium, "Potassium:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.potassium) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.potassium, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.triglyceride, "Triglycéride:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.triglyceride) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.triglyceride, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.amylase, "Amylase:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.amylase) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.amylase, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.pal, "PAL:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.pal) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.pal, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.calcemie, "Calcémie:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.calcemie) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.calcemie, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    <div class="form-group">
    {{ form_label(form.rBiochimie.ck, "CK:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rBiochimie.ck) }}
    <div class="col-sm-9">
      {{ form_widget(form.rBiochimie.ck, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
</div>  
{% endif %}

{% if bulletin.urineLrc is defined and bulletin.urineLrc.ph is not null %}
<div class="row">
<h3 class="btn-info"><center>{{ bulletin.urineLrc.ph|upper }}</center></h3>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.ph, "P.H:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.ph) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.ph, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.proteine, "Protéine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.proteine) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.proteine, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.glucose, "Glucose:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.glucose) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.glucose, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.densite, "Densité:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.densite) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.densite, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.leucocytes, "Leucocytes:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.leucocytes) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.leucocytes, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.nitrites, "Nitrites:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.nitrites) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.nitrites, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.acetone, "Acétone:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.acetone) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.acetone, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.urobilinogene, "Urobilinogène:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.urobilinogene) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.urobilinogene, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.bilirubine, "Bilirubine:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.bilirubine) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.bilirubine, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.sang, "Sang:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.sang) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.sang, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.hb, "H.B:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.hb) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.hb, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.hcg, "H.C.G:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.hcg) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.hcg, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.selsBilaires, "Sels Bilaires:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.selsBilaires) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.selsBilaires, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
<div class="form-group">
    {{ form_label(form.rUrineLrc.pigBilaires, "Pig Bilaires:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.rUrineLrc.pigBilaires) }}
    <div class="col-sm-9">
      {{ form_widget(form.rUrineLrc.pigBilaires, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    

</div>   
{% endif %}
    
    </hr>
{% if form.submit is defined %}
  {{ form_widget(form.submit, {'attr': {'class': 'btn btn-block btn-primary'}}) }}
{% else %} 
    <h3 class="btn-danger"><center>BULLETIN VIDE</center></h3>
{% endif %}
  {{ form_end(form) }}
    


{% endblock %}
