{% extends 'base.html.twig' %}

{% block title2 %}
Nouveau bulletin</br>
{% if bulletin.patient is not null %} Patient : {{ bulletin.patient.name }} {% endif %}
{% endblock %}

{% block body %}
    <h1>Bulletin creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('bulletin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
