{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bulletin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bulletin.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if bulletin.date %}{{ bulletin.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ bulletin.amount }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bulletin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bulletin_edit', { 'id': bulletin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
