{% extends 'base.html.twig' %}

{% block title2 %}
Informations sur un bulletin d'examen
{% endblock %}

{% block menu %}

<ul class="nav nav-pills nav-stacked">
        <a href="{{ path('bulletin_index') }}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span>Retour à l'accueil</a><p>  </p>
        
        <a href="{{ path('bulletin_edit', {'id': bulletin.id}) }}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-edit"></span>Modifier</a><p>  </p>

        <a href="{{ path('bulletin_fill', {'id': bulletin.id}) }}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>Remplir</a><p>  </p>
    
        <a href="{{ path('bulletin_print', {'id': bulletin.id}) }}" class="btn btn-info btn-block btn-lg">
            <span class="glyphicon glyphicon-print"></span>Imprimer</a><p>  </p>
</ul>

{% endblock %}

{% block body %}
    <table class="table table-bordered table-hover table-striped">
        <tbody>
   
            <tr>
                <th>Bulletin n°</th>
                <td><a href="{{ path('bulletin_show', { 'id': bulletin.id }) }}">{{ bulletin.id }}</a></td>
            </tr>
            <tr>
                <th>Nom du patient</th>
                <td>{{ bulletin.patient.name }}</td>
            </tr>
            <tr>
                <th>Examen(s) demandé(s)</th>
                <td>
                    <ol>
                        {% if bulletin.pcvPu.etatCol is not null %}
                            <li>PCV ou PU</li>
                        {% endif %}
                        
                        {% if bulletin.ecbuCu.aspect is not null %}
                            <li>{{ bulletin.ecbuCu.aspect|upper }}</li>
                        {% endif %}
                        
                        {% if bulletin.hematologie is not null and bulletin.hematologie.globulesBlancs %}
                            <li>Hematologie</li>
                        {% endif %} 
                        
                        {% if bulletin.formuleLeucocytaire is not null and bulletin.formuleLeucocytaire.neutrophiles %}
                            <li>Formule leucocytaire</li>
                        {% endif %}
                        
                        {% if bulletin.biochimie is not null and bulletin.biochimie.uree %}
                            <li>Biochimie</li>
                        {% endif %}
                        
                        {% if bulletin.urineLrc is not null and bulletin.urineLrc.ph %}
                            <li>{{ bulletin.urineLrc.ph|upper }}</li>
                        {% endif %}
                        
                        {% if bulletin.serologie.vih is not null %}
                            <li>VIH</li>                 
                        {% endif %}

                        {% if bulletin.serologie.also is not null %}                    
                            <li>ALSO</li>                    
                        {% endif %}

                        {% if bulletin.serologie.crp is not null %}                 
                            <li>CRP</li>                      
                        {% endif %} 

                        {% if bulletin.serologie.tpha is not null %}                     
                            <li>TPHA</li>                   
                        {% endif %}   
                        {% if bulletin.serologie.vdrl is not null %}                    
                            <li>VDRL</li>                       
                        {% endif %} 

                        {% if bulletin.serologie.agHbs is not null %}                      
                            <li>Ag Hbs</li>                      
                        {% endif %}  

                        {% if bulletin.serologie.toxoIgg is not null %}                      
                            <li>TOXO IgG</li>                      
                        {% endif %} 

                        {% if bulletin.serologie.widalTest is not null %}                       
                            <li>WIDAL Test</li>                    
                        {% endif %}  

                        {% if bulletin.serologie.rubeole is not null %}                     
                            <li>Rubeole</li>   
                        {% endif %}   

                        {% if bulletin.serologie.hcv is not null %}                     
                            <li>HCV</li>
                        {% endif %} 

                        {% if bulletin.serologie.chlamydia is not null %}                    
                            <li>Chlamydia</li> 
                        {% endif %} 

                        {% if bulletin.serologie.fr is not null %}                      
                            <li>FR</li>   
                        {% endif %}  

                        {% if bulletin.serologie.selles is not null %}
                            <li>SELLES</li>
                        {% endif %}
                        
                    </ol>
                </td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{% if bulletin.date %}{{ bulletin.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td><h3>{{ bulletin.amount | number_format(0, ',', '.') }}</h3></td>
            </tr>
            
        </tbody>
    </table>

{% endblock %}
